.section-head{
	color: #29b2ff;
	font-size: 28px;
	/*margin-top: 30px;*/
	margin-bottom:30px;
	text-align: center;
}

img.ng-thumb{
	height: 150px;
}

p{
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.heading{
	font-weight: bold;
}
.hidden-nav{
	display: none;
}

.showme{
	display: block;
}


/*table {
	font-size: 1px;
}*/

body{
	background: url("../graphics/bgimage.jpg") repeat-x;
	font-family: 'Oxygen', sans-serif;
}

.swiper-container {
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(95, 171, 255, 0.51);
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.container{
	max-width: 1000px;
}

img.ng-thumb {
	height: 198px !important;
	width: 260px !important;
	margin: 15px !important;
	border: 2px solid #443018;
}

img.ng-thumb:hover{
	transform: scale(1.02,1.02);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}


.container__content{
	/*background-color: #e6e9ec;*/
	padding: 30px;
	padding-bottom: 10px !important;
}
.container__content__border{
	border: 2px black solid;
}

.padding-top-30{
	padding-top: 30px;
}

.float-right{
	float: right;
}

.price-info{
	padding: 1px;
	clear: both;
}

.bordered{
	border: 1px solid #E9E9E9;
	padding: 30px;
	margin-top: 30px;
	clear: both;
	background-color: #F5F5F5;
}

.bordered-table, tr,td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align : left;
	margin-left:20px;
	margin-right:20px;
}
td>li{
	list-style-type: square;
	margin-left: 20px;
	line-height: 30px;
}

@charset "utf-8";

#wrapper{
    padding: 60px 0px;
}
.circle{
    background: #d5d5d5;
    padding: 35px;
    text-align: center;
	cursor: pointer;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
	border: solid 1px #737373;
}
.circle h4{
    margin: 0;
    padding: 0;
	font-size: 24px;
}
.circle p{}
.circle span{}
.circle span.icon{
}
.circle span.icon i{
    font-size: 24px;
}
.circle span.price-large{
    font-size: 39px
}
.price-small{
    font-size: 14px
}

.c1:hover{
    background: #39b3d7;
    color: #ffffff;
}
.c1 .blue{
    color: #39b3d7;
}
.c1 .blue{
    color: #39b3d7;
}
.c1:hover .blue{
    color: #ffffff;
}

.c2:hover{
    background: #ed9c28;
    color: #ffffff;
}
.c2 .yellow{
    color: #ed9c28;
}
.c2:hover .yellow{
    color: #ffffff;
}

.c3:hover{
    background: #47a447;
    color: #ffffff;
}
.c3 .green{
    color: #47a447;
}
.c3:hover .green{
    color: #ffffff;
}

.c4:hover{
    background: #d2322d;
    color: #ffffff;
}
.c4 .red{
    color: #d2322d;
}
.c4:hover .red{
    color: #ffffff;
}