<!DOCTYPE html>
<html ng-app="AfloridaVilla">
<head>
    <title>Villa Aviana - Florida, USA</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="bower_components/ngGallery/src/css/ngGallery.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" title="STYLESHEET">
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAmgCG5TF-oSdoQy-KCNEHaxTNDsZmibn4bP0Q1kY0KNuqrgNWmBRRwk9kozmw0rJtGJIw1m-9LnJBBg"
            type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        function load() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map1"));
                map.addControl(new GLargeMapControl());
                map.setCenter(new GLatLng(28.227350, -81.566221), 13);
                var point = new GLatLng(28.227350, -81.566221);
                map.addOverlay(new GMarker(point));
            }
        }
        //]]>
    </script>
</head>


<body onload="load()">
<!-- Bottom Line In The Menu -->
<div class="container">
    <div id="home_section" align="center" class="nav-header-center" style="margin-left: -100px;">
        <img src="graphics/header.gif" style="width: 100%;"/>
    </div>
    <div scroll>
        <div class="navbar navbar-inverse move-me">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home_section" du-smooth-scroll du-scrollspy offset="30">Home</a></li>
                        <li><a href="#property_section" du-smooth-scroll du-scrollspy offset="30">Property</a></li>
                        <li><a href="#photographs_section" du-smooth-scroll du-scrollspy offset="30">Photographs</a></li>
                        <li><a href="#directions_section" du-smooth-scroll du-scrollspy offset="30">Directions</a></li>
                        <li><a href="#attractions_section" du-smooth-scroll du-scrollspy offset="30">Local Attractions</a></li>
                        <li><a href="#availabilty_section" du-smooth-scroll du-scrollspy offset="30">Availability</a></li>
                        <li><a href="#contactus_section" du-smooth-scroll du-scrollspy offset="30">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar hidden-nav">

        </div>
    </div>
    <div class="container__content__border">
        <section>
            <div class="container__content" ng-include="'partials/new_files/home.html'"></div>
        </section>
        <section id="property_section">
            <div class="container__content" ng-include="'partials/new_files/property.html'"></div>
        </section>
        <section id="photographs_section">
            <div class="container__content" ng-include="'partials/new_files/photographs.html'"></div>
        </section>
        <section id="directions_section">
            <div class="container__content" ng-include="'partials/new_files/directions.html'"></div>
            <div id="map1" style="height: 300px;"></div>
        </section>
        <section id="attractions_section">
            <div class="container__content" ng-include="'partials/new_files/localAttractions.html'"></div>
        </section>
        <section id="availabilty_section">
            <div class="container__content" ng-include="'partials/new_files/availabilty.html'"></div>
        </section>
        <section id="contactus_section">
            <div class="container__content" ng-include="'partials/new_files/contactus.html'"></div>
        </section>
    </div>
<footer>

</footer>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bower_components/swiper/dist/js/swiper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="bower_components/angular-swiper/dist/angular-swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/ngGallery/src/js/ngGallery.js"></script>
    <script type="text/javascript" src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
</body>
</html>

